<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Дифференциальные операции</title>
    <style>

    .defButton {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }
    </style>
</head>
<body>
<div id="operationsModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('defOperationsModal')">&times;</span>
        <h2>Операции с табулированными функциями</h2>
        <div class="functions-container">
            <div class="function-table">
                <h3>Функция</h3>
                <table>
                    <thead>
                    <tr>
                        <th>X</th>
                        <th>Y</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${function != null}" th:each="point : ${function.points}">
                        <td th:text="${point.x}">X</td>
                        <td>
                            <input type="text" th:value="${point.y}" name="functionY"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form method="post" th:action="@{/main/operations/insert}">
                    <input type="text" name="x" placeholder="Введите X"/>
                    <input type="text" name="y" placeholder="Введите Y"/>
                    <button type="submit">Вставить</button>
                </form>
                <form method="post" th:action="@{/main/operations/delete}">
                    <input type="text" name="index" placeholder="Введите индекс для удаления"/>
                    <button class="art_byArrMutton" type="submit">Удалить</button>
                </form>
            </div>
            <div class="result-table">
                <h3>Результат</h3>
                <table>
                    <thead>
                    <tr>
                        <th>X</th>
                        <th>Y'</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${resultFunction != null}" th:each="point : ${resultFunction.points}">
                        <td th:text="${point.x}">X</td>
                        <td th:text="${point.y}">Y'</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="operations-buttons">
            <form method="post" th:action="@{/main/operations/differentiate}">
                <button class="art_byArrMutton" type="submit">Дифференцировать</button>
            </form>
        </div>
    </div>
</div>
<!---->
</body>
</html>
