<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" th:href="@{/css/art.css}">
    <link rel="stylesheet" th:href="@{/css/ksen.css}">
</head>
<body>

<div class="art_header">
    Главное меню
</div>

<div class="art_mainContainer">
    <button class="openModal art_mainButton" data-modal-id="choose_factory">Открыть настройки
    </button>
    <button class="openModal art_mainButton" data-modal-id="modalElementaryOps">Операции над
        табулированными
        функциями
    </button>
    <button id="buttonDef" class="art_mainButton" data-modal-id="defOperationsModal" data-url="/main/differential">
        Дифференциальные операции
    </button>
    <button class="art_mainButton" data-modal-id="defOperationsModal" data-url="/main/differential">Редактор функции
    </button>
    <button class="art_mainButton" data-modal-id="defOperationsModal" data-url="/main/differential">Нахождение
        интеграла
    </button>
    <a th:if="${isAdmin}" href="javascript:void(0);" onclick="openModal('adminModal', '/main/admin')">
        <button class="art_mainButton">Только для персонала</button>
    </a>
    <button class="openModal art_mainButton" data-modal-id="createTableByArrayModal">Создание по массивам</button>
    <button class="openModal art_mainButton" data-modal-id="createByFunctionModal">Создание по функции</button>
</div>
<div class="art_mainModal" id="choose_factory">
    <div class="art_ByArrModal">
        <div class="art_byArrContent">
            <span class="close art_close" data-modal-id="choose_factory">&times;</span>
            <div class="art_radio-group">
                <input th:checked="${FactoryRadio == 'arrayFactory'}" type="radio"
                       id="art_arrayTabulatedFunctionFactory" name="factory"/>
                <label for="art_arrayTabulatedFunctionFactory">Фабрика по массивам</label>
                <input th:checked="${FactoryRadio == 'linkedListFactory'}" type="radio"
                       id="art_linkedListTabulatedFunctionFactory" name="factory"/>
                <label for="art_linkedListTabulatedFunctionFactory">Фабрика по связному списку</label><br>
                <button id="art_radio_accept" class="close art_mainButton" data-modal-id="choose_factory">Принять
                    изменения
                </button>
            </div>
        </div>
    </div>
</div>
<!--Модальное окно создания функции по массивам-->
<div id="createTableByArrayModal" class="art_mainModal">
    <div class="art_ByArrModal">
        <div class="art_byArrContent">
            <span class="close art_close" data-modal-id="createTableByArrayModal">&times;</span>
            <h1>Создание табулированной функции</h1>
            <div class="art_byArr_container">
                <label for="art_byArr_pointsCount">Количество точек:</label>
                <input type="number" id="art_byArr_pointsCount" name="art_byArr_pointsCount" min="1" required/>
                <button id="art_byArr_createTableBtn">Создать таблицу</button>
            </div>
            <div id="art_byArr_tableContainer"></div>
            <div class="otstup"></div>
        </div>
    </div>
</div>
<!--Модальное окно создания функции по другим функциям-->
<div id="createByFunctionModal" class="art_mainModal">
    <div class="art_ByArrModal">
        <div class="art_byArrContent">
            <span class="close art_close" data-modal-id="createByFunctionModal">&times;</span>
            <h1>Создание табулированной функции</h1>
            <div>
                <div class="art_dropdown">
                    <button id="art_choose_one" class="art_dropdown-button">Выберите функцию</button>
                    <div class="art_dropdown-content">
                        <ul class="art_dropdown-list">
                            <li th:each="functionName : ${functions}">
                                <a th:href="'#'" th:text="${functionName}" class="art_dropdown-item"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <label for="art_byTableByFunction_left_bound">Левая граница:</label>
                <input type="number" id="art_byTableByFunction_left_bound"
                       name="art_byTableByFunction_left_bound" required/>
                <br>
                <label for="art_byTableByFunction_right_bound">Правая граница:</label>
                <input type="number" id="art_byTableByFunction_right_bound"
                       name="art_byTableByFunction_right_bound" required/>
                <br>
                <label for="art_byByFunction_pointsCount">Количество точек:</label>
                <input type="number" id="art_byByFunction_pointsCount"
                       name="art_byByFunction_pointsCount" required/>
                <br>
                <button data-modal-id="createByFunctionModal" id="createTableByFunctionTableBtn">Создать функцию
                </button>
            </div>
        </div>
    </div>
</div>
<!--Модальное окно элементарных операций над функциями-->
<div id="modalElementaryOps" class="art_displayNone">
    <div class="art_modal_tables">
    <div class="close art_close" style="text-align:center;" data-modal-id="modalElementaryOps">&times;</div>
        <div class="art_modal_table_content">
            <div class="art_table_container">
                <div class="art_table_block">
                    <h2 class="art_table_header">Первая функция</h2>
                    <div class="art_table_wrapper">
                        <table class="art_elementary_table">
                            <thead>
                            <tr>
                                <th>x</th>
                                <th>y</th>
                            </tr>
                            </thead>
                            <tbody class="art_table_body" id="art_table_body_1">
                            <!-- Пример строки таблицы -->

                            </tbody>
                        </table>
                    </div>
                    <div class="art_elementary_buttons">
                        <button class="art_elementary_button">Создать</button>
                        <button class="art_elementary_button">Загрузить</button>
                        <button class="art_elementary_button">Удалить</button>
                        <button class="art_elementary_button">Вставка</button>
                        <button class="art_elementary_button">Сохранить</button>
                    </div>
                </div>
                <div class="art_table_block">
                    <h2 class="art_table_header">Вторая функция</h2>
                    <div class="art_table_wrapper">
                        <table class="art_elementary_table">
                            <thead>
                            <tr>
                                <th>x</th>
                                <th>y</th>
                            </tr>
                            </thead>
                            <tbody class="art_table_body" id="art_table_body_2">
                            <!-- Пример строки таблицы -->
                            </tbody>
                        </table>
                    </div>
                    <div class="art_elementary_buttons">
                        <button class="art_elementary_button">Создать</button>
                        <button class="art_elementary_button">Загрузить</button>
                        <button class="art_elementary_button">Удалить</button>
                        <button class="art_elementary_button">Вставка</button>
                        <button class="art_elementary_button">Сохранить</button>
                    </div>
                </div>
                <div class="art_table_block">
                    <h2 class="art_table_header">Результат</h2>
                    <div class="art_table_wrapper">
                        <table class="art_elementary_table">
                            <thead>
                            <tr>
                                <th>x</th>
                                <th>y</th>
                            </tr>
                            </thead>
                            <tbody class="art_table_body" id="art_table_body_3">
                            <!-- Пример строки таблицы
                            <tr>
                                <td><input class="art_input_x" type='number' step='any' name='xValues' value="2"
                                           readonly></td>
                                <td><input class="art_input_y" type='number' step='any' name='yValues' value="4"
                                           required/></td>
                            </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <div class="art_elementary_buttons">
                        <button class="art_elementary_button">Сохранить</button>
                    </div>
                </div>
            </div>
            <div class="art_operations">
                <button class="art_operation_button">Сложение</button>
                <button class="art_operation_button">Вычитание</button>
                <button class="art_operation_button">Умножение</button>
                <button class="art_operation_button">Деление</button>
            </div>
        </div>
    </div>
</div>
<!--Универсальное модальное окно передачи сообщений-->
<div id="modalAvengeMessage" class="art_displayNone">
    <div class="art_state">
        <div class="art_state_content">
            <div id="art_modal_status_message"></div>
            <div class="art_state_h1"></div>
            <button id="message_ok" class="art_state_button close" data-modal-id="modalAvengeMessage">Ок</button>
        </div>
    </div>
</div>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/ajaxTable.js}"></script>
</body>
</html>