<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" th:href="@{/css/artksen.css}">
</head>
<body>
<div class="art_header">
    Главное меню
</div>
<!--Контейнер с кнопками-->
<div class="art_mainContainer">
    <button class="openModal art_mainButton" data-modal-id="choose_factory">Открыть настройки</button>
    <button class="openModal art_mainButton" data-modal-id="modalElementaryOps">Операции над табулированными функциями
    </button>
    <button class="openModal art_mainButton" data-modal-id="modalDefOps">Дифференциальные операции</button>
    <button class="openModal art_mainButton" data-modal-id="modalGraph">Редактор функции</button>
    <button class="openModal art_mainButton" data-modal-id="modalIntegral">Нахождение интеграла</button>
    <button class="openModal art_mainButton" data-modal-id="modalMathFunc">Создание сложной математической функции
    </button>
    <span th:if="${isAdmin}"><a th:href="@{/main/workWithDb}"><button
            class="art_mainButton">Только для персонала</button></a></span>
</div>
<!--Модальное окно создания математической функции-->
<div class="art_mainModal" id="modalMathFunc">
    <div class="art_ByArrModal">
        <div class="art_byArrContent">
            <span class="close art_close" data-modal-id="modalMathFunc">&times;</span>
            <h1>Создание Математической функции</h1>
            <div class="art_byArr_container">
                <label for="MathFuncPointsCount">Количество функций:</label>
                <input type="number" id="MathFuncPointsCount" name="MathFuncPointsCount" min="1" required/>
                <label for="MathFuncName">Название функции:</label>
                <input type="text" id="MathFuncName" name="MathFuncName" required/>
                <button id="MathFuncCreateListBtn">Начать создание</button>
            </div>
            <div id="MathFuncContainer"></div>
            <div class="otstup"></div>
        </div>
    </div>
</div>
<!--Окно выбора того, как именно создавать функцию-->
<div class="art_mainModal centered-modal" id="chooseTheWayToCreateTF">
    <div class="centered-modal-content modal-container">
        <div class="art_radio-group">
            <div class="button-container">
            <span class="close" data-modal-id="chooseTheWayToCreateTF"><button class="openModal art_mainButton"
                                                                               data-modal-id="createTableByArrayModal">Создание по массивам</button></span>
                <span class="close" data-modal-id="chooseTheWayToCreateTF"><button class="openModal art_mainButton"
                                                                                   data-modal-id="createByFunctionModal">Создание по функции</button></span>
            </div>
            <div class="button-container-center">
                <button id="backToMainCreate" class="close" data-modal-id="chooseTheWayToCreateTF" type="button">Назад
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Окно выбора фабрики -->
<div class="art_mainModal centered-modal" id="choose_factory">
    <div class="centered-modal-content modal-container">
        <div class="art_radio-group">
            <input th:checked="${FactoryRadio == 'arrayFactory'}" type="radio" id="art_arrayTabulatedFunctionFactory"
                   name="factory"/>
            <label for="art_arrayTabulatedFunctionFactory">Фабрика по массивам</label>
            <input th:checked="${FactoryRadio == 'linkedListFactory'}" type="radio"
                   id="art_linkedListTabulatedFunctionFactory" name="factory"/>
            <label for="art_linkedListTabulatedFunctionFactory">Фабрика по связному списку</label><br>
            <div class="button-container">
                <button id="art_radio_accept" class="close" data-modal-id="choose_factory">Принять изменения</button>
                <button id="backToMain" class="close" data-modal-id="choose_factory" type="button">Назад</button>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно создания функции по массивам -->
<div id="createTableByArrayModal" class="art_mainModal centered-modal">
    <div class="centered-modal-content modal-container">
        <h2 class="art_table_header">Создание табулированной функции</h2>
        <div class="art_byArr_container">
            <label for="art_byArr_pointsCount">Количество точек</label>
            <input type="number" id="art_byArr_pointsCount" name="art_byArr_pointsCount" min="1" required/>
        </div>
        <div class="art_byArr_container">
            <button id="art_byArr_createTableBtn" class="art_byArrButton">Создать таблицу</button>
        </div>
        <div id="art_byArr_tableContainer" class="art_byArr_table"></div>
        <div class="button-container-center">
            <button id="backToArray" class="close art_backButton" data-modal-id="createTableByArrayModal">Назад</button>
        </div>
        <div class="otstup"></div>
    </div>
</div>
<!-- Модальное окно создания функции по другим функциям -->
<div id="createByFunctionModal" class="art_mainModal">
    <div class="art_ByArrModal">
        <div class="art_byArrContent">
            <h1>Создание табулированной функции</h1>
            <div class="art_byArr_container">
                <div class="art_dropdown">
                    <button id="art_choose_one" class="art_dropdown-button">Выберите функцию</button>
                    <div class="art_dropdown-content">
                        <ul class="art_dropdown-list">
                            <li th:each="functionName : ${functions}">
                                <a th:href="'#'" th:text="${functionName}" class="art_dropdown-item"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <label for="art_byTableByFunction_left_bound">Левая граница:</label>
                <input type="number" id="art_byTableByFunction_left_bound" name="art_byTableByFunction_left_bound"
                       required/>
                <label for="art_byTableByFunction_right_bound">Правая граница:</label>
                <input type="number" id="art_byTableByFunction_right_bound" name="art_byTableByFunction_right_bound"
                       required/>
                <label for="art_byByFunction_pointsCount">Количество точек:</label>
                <input type="number" id="art_byByFunction_pointsCount" name="art_byByFunction_pointsCount" required/>
                <button data-modal-id="createByFunctionModal" id="createTableByFunctionTableBtn">Создать функцию
                </button>
            </div>
            <div class="art_backButton-container">
                <button class="close art_backButton" data-modal-id="createByFunctionModal">Назад</button>
            </div>
        </div>
    </div>
</div>
<!--Модальное окно элементарных операций над функциями-->
<div id="modalElementaryOps" class="art_displayNone">
    <div class="art_modal_tables">
        <div class="art_modal_table_content">
            <!-- Крестик закрытия окна -->
            <div class="close art_close art_closeAbsolute" style="text-align:center;"
                 data-modal-id="modalElementaryOps">&times;
            </div>
            <div class="art_table_container">
                <div class="art_table_block">
                    <h2 class="art_table_header">Первая функция</h2>
                    <div class="art_table_wrapper">
                        <form id="art_form_body_1">
                            <table class="art_elementary_table">
                                <thead>
                                <tr>
                                    <th>x</th>
                                    <th>y</th>
                                </tr>
                                </thead>
                                <tbody class="art_table_body" id="art_table_body_1">
                                <!-- Пример строки таблицы -->
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="art_elementary_buttons">
                        <span class="createTable" data-modal-id="art_table_body_1">
                            <button data-modal-id="chooseTheWayToCreateTF" class="openModal art_elementary_button">
                                Создать
                            </button>
                        </span>
                        <button data-table-id="art_table_body_1" class="loadFunction art_elementary_button">Загрузить
                        </button>
                        <button data-form-id="art_form_body_1" data-table-id="art_table_body_1" data-modal-id="remove"
                                class="openModal removePoint art_elementary_button">Удалить
                        </button>
                        <button data-form-id="art_form_body_1" data-table-id="art_table_body_1" data-modal-id="insert"
                                class="openModal insertPoint art_elementary_button">Вставка
                        </button>
                        <button data-form-id="art_form_body_1" class="saveFunction art_elementary_button">Сохранить
                        </button>
                    </div>
                </div>
                <div class="art_table_block">
                    <h2 class="art_table_header">Вторая функция</h2>
                    <div class="art_table_wrapper">
                        <form id="art_form_body_2">
                            <table class="art_elementary_table">
                                <thead>
                                <tr>
                                    <th>x</th>
                                    <th>y</th>
                                </tr>
                                </thead>
                                <tbody class="art_table_body" id="art_table_body_2">
                                <!-- Пример строки таблицы -->
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="art_elementary_buttons">
                        <span class="createTable" data-modal-id="art_table_body_2"><button
                                data-modal-id="chooseTheWayToCreateTF" class="openModal art_elementary_button">
                            Создать
                        </button></span>
                        <button data-table-id="art_table_body_2" class="loadFunction art_elementary_button">Загрузить
                        </button>
                        <button data-form-id="art_form_body_2" data-table-id="art_table_body_2" data-modal-id="remove"
                                class="openModal removePoint art_elementary_button">Удалить
                        </button>
                        <button data-form-id="art_form_body_2" data-table-id="art_table_body_2" data-modal-id="insert"
                                class="openModal insertPoint art_elementary_button">Вставка
                        </button>
                        <button data-form-id="art_form_body_2" class="saveFunction art_elementary_button">Сохранить
                        </button>
                    </div>
                </div>
                <div class="art_table_block">
                    <h2 class="art_table_header">Результат</h2>
                    <div class="art_table_wrapper">
                        <form id="art_form_body_3">
                            <table class="art_elementary_table">
                                <thead>
                                <tr>
                                    <th>x</th>
                                    <th>y</th>
                                </tr>
                                </thead>
                                <tbody class="art_table_body" id="art_table_body_3">
                                <!-- Пример строки таблицы
                                <tr><td><input class="art_input_x" type='number' step='any' name='xValues' value="2" readonly></td>
                                    <td><input class="art_input_y" type='number' step='any' name='yValues' value="4" required/></td>
                                </tr> -->
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="art_elementary_buttons">
                        <button class="hide_text">Создать</button>
                        <button class="hide_text">Загрузить</button>
                        <button data-form-id="art_form_body_3" class="saveFunction art_elementary_button">Сохранить
                        </button>
                        <button class="hide_text">Удалить</button>
                        <button class="hide_text">Вставка</button>
                    </div>
                </div>
            </div>
            <div class="art_operations">
                <button name="sum" data-url-id="/chooseElementaryOperationAndCalculate" data-modal-id="art_table_body_3"
                        class="resultOpsFunction art_operation_button">Сложение
                </button>
                <button name="subtract" data-url-id="/chooseElementaryOperationAndCalculate"
                        data-modal-id="art_table_body_3" class="resultOpsFunction art_operation_button">Вычитание
                </button>
                <button name="multiplication" data-url-id="/chooseElementaryOperationAndCalculate"
                        data-modal-id="art_table_body_3" class="resultOpsFunction art_operation_button">Умножение
                </button>
                <button name="division" data-url-id="/chooseElementaryOperationAndCalculate"
                        data-modal-id="art_table_body_3" class="resultOpsFunction art_operation_button">Деление
                </button>
            </div>
        </div>
    </div>
</div>
<!--Модальное окно для дифференциальных операций-->
<div id="modalDefOps" class="art_displayNone"><!--Важно при создании других таблиц-->
    <div class="art_modal_tables">
        <div class="art_modal_table_content">
            <!-- Крестик закрытия окна -->
            <div class="close art_close art_closeAbsolute" style="text-align:center;"
                 data-modal-id="modalDefOps">&times;<!--Важно при создании других таблиц-->
            </div>
            <div class="art_table_container">
                <div class="art_table_block">
                    <h2 class="art_table_header">Функция</h2>
                    <div class="art_table_wrapper">
                        <form id="art_form_body_def_1"><!--Важно при создании других таблиц-->
                            <table class="art_elementary_table">
                                <thead>
                                <tr>
                                    <th>x</th>
                                    <th>y</th>
                                </tr>
                                </thead>
                                <tbody class="art_table_body" id="art_table_body_def_1">
                                <!--Важно при создании других таблиц-->
                                <!-- Пример строки таблицы -->
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="art_elementary_buttons">
                        <span class="createTable" data-modal-id="art_table_body_def_1"><!--Важно при создании других таблиц-->
                            <button data-modal-id="chooseTheWayToCreateTF" class="openModal art_elementary_button">
                                Создать </button></span><!--Важно при создании других таблиц-->
                        <button data-table-id="art_table_body_def_1" class="loadFunction art_elementary_button">
                            Загрузить
                        </button><!--Важно при создании других таблиц-->
                        <button data-form-id="art_form_body_def_1" data-table-id="art_table_body_def_1"
                                data-modal-id="remove"
                                class="openModal removePoint art_elementary_button">Удалить
                        </button>
                        <button data-form-id="art_form_body_def_1" data-table-id="art_table_body_def_1"
                                data-modal-id="insert"
                                class="openModal insertPoint art_elementary_button">Вставка
                        </button>
                        <button data-form-id="art_form_body_def_1" class="saveFunction art_elementary_button">
                            Сохранить
                        </button><!--Важно при создании других таблиц-->
                    </div>
                </div>
                <div class="art_table_block">
                    <h2 class="art_table_header">Результат</h2>
                    <div class="art_table_wrapper">
                        <form id="art_form_body_def_2">
                            <table class="art_elementary_table">
                                <thead>
                                <tr>
                                    <th>x</th>
                                    <th>y</th>
                                </tr>
                                </thead>
                                <tbody class="art_table_body" id="art_table_body_def_2">
                                <!-- Пример строки таблицы
                                <tr><td><input class="art_input_x" type='number' step='any' name='xValues' value="2" readonly></td>
                                    <td><input class="art_input_y" type='number' step='any' name='yValues' value="4" required/></td>
                                </tr> -->
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="art_elementary_buttons">
                        <button class="hide_text">Создать</button>
                        <button class="hide_text">Загрузить</button>
                        <button data-form-id="art_form_body_def_2" class="saveFunction art_elementary_button">
                            Сохранить
                        </button>
                        <button class="hide_text">Удалить</button>
                        <button class="hide_text">Вставка</button>
                    </div>
                </div>
            </div>
            <div class="art_operations">
                <!--Важно при создании других таблиц-->
                <button name="sum" data-url-id="/chooseDefOperationAndCalculate" data-modal-id="art_table_body_def_2"
                        class="resultDefOpsFunction art_operation_button">Дифференцировать
                    <!--Важно при создании других таблиц-->
                </button>
            </div>
        </div>
    </div>
</div>
<!--Модальное окно для построения графики табулированной функции-->
<div id="modalGraph" class="art_displayNone">
    <div class="art_modal_tables">
        <div class="art_modal_table_content">
            <div class="art_table_container">
                <div class="art_table_block">
                    <h2 class="art_table_header">Построение графика</h2>
                    <!--Таблица работает только скриптов и её не будет видно-->
                    <div class="art_table_wrapper">
                        <form id="art_form_graph" class="art_displayNone">
                            <table class="art_elementary_table">
                                <thead>
                                <tr>
                                    <th>x</th>
                                    <th>y</th>
                                </tr>
                                </thead>
                                <tbody class="art_table_body" id="art_table_graph">
                                <!-- Сюда выгружаются строки таблицы -->
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <!----------------------------------------------->
                    <div id="art_graph" style="width: 100%; height: 400px;"></div>
                    <!----------------------------------------------->
                    <div class="art_elementary_buttons">
                        <span class="createTable" data-modal-id="art_table_graph">
                            <button id="createGraph" data-url-id="/Graph" data-graph-id="art_graph"
                                    data-modal-id="chooseTheWayToCreateTF"
                                    class="openModal buildFunction art_elementary_button">
                                Создать </button></span>
                        <button id="graphLoad" data-url-id="/Graph" data-graph-id="art_graph"
                                data-table-id="art_table_graph"
                                class="buildFunction loadFunction art_elementary_button">
                            Загрузить
                        </button>
                        <button data-modal-id="remove" data-form-id="art_form_graph" data-table-id="art_table_graph"
                                id="graphRemove"
                                data-url-id="/Graph" data-graph-id="art_graph"
                                class="openModal removePoint buildFunction art_elementary_button">Удалить
                        </button>
                        <button data-graph-id="art_graph" id="graphInsert" data-url-id="/Graph"
                                data-form-id="art_form_graph" data-table-id="art_table_graph"
                                data-modal-id="insert"
                                class="openModal insertPoint buildFunction art_elementary_button">Вставка
                        </button>
                        <button data-form-id="art_form_graph" class="saveFunction art_elementary_button">
                            Сохранить
                        </button>
                        <button data-modal-id="apply" class="openModal buildFunction art_elementary_button">Вычислить значение в точке
                        </button>
                        <button id="backToMainGraph" class="art_backButton close" data-modal-id="modalGraph">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Модальное окно для вычисления определённого интеграла-->
<div id="modalIntegral" class="art_displayNone"><!--Важно при создании других таблиц-->
    <div class="art_modal_tables">
        <div class="art_modal_table_content">
            <!-- Крестик закрытия окна -->
            <div class="close art_close art_closeAbsolute" style="text-align:center;"
                 data-modal-id="modalIntegral">&times;<!--Важно при создании других таблиц-->
            </div>
            <div class="art_table_container">
                <div class="art_table_block">
                    <h2 class="art_table_header">Функция</h2>
                    <div class="art_table_wrapper">
                        <form id="art_form_integral">
                            <table class="art_elementary_table">
                                <thead>
                                <tr>
                                    <th>x</th>
                                    <th>y</th>
                                </tr>
                                </thead>
                                <tbody class="art_table_body" id="art_table_integral">
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="art_elementary_buttons">
                        <span class="createTable" data-modal-id="art_table_integral">
                            <button data-modal-id="chooseTheWayToCreateTF" class="openModal art_elementary_button">
                                Создать </button></span>
                        <button data-table-id="art_table_integral" class="loadFunction art_elementary_button">
                            Загрузить
                        </button>
                        <button data-form-id="art_form_integral" data-table-id="art_table_integral"
                                data-modal-id="remove"
                                class="openModal removePoint art_elementary_button">Удалить
                        </button>
                        <button data-form-id="art_form_integral" data-table-id="art_table_integral"
                                data-modal-id="insert"
                                class="openModal insertPoint art_elementary_button">Вставка
                        </button>
                        <button data-form-id="art_form_integral" class="saveFunction art_elementary_button">
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
            <div class="art_operations">
                <label for="countStreams">
                    Количество потоков:
                    <input placeholder="Количество потоков" id="countStreams" type="number" value="1">
                </label>
                <button name="integrate" data-url-id="/integrate" data-modal-id="art_table_integral_result"
                        class="resultIntegral art_operation_button">Интегрировать
                </button>
                <div>Определённый интеграл функции равен: <span id="integralContainerResult"></span></div>
            </div>
        </div>
    </div>
</div>
<!-- Добавление точки -->
<div class="art_mainModal centered-modal" id="insert">
    <div class="centered-modal-content modal-container">
        <div class="art_state_content">
            <div class="art_success">Добавление точки</div>
            <label for="insertX">
                <input placeholder="X" id="insertX" type="number">
            </label>
            <label for="insertY">
                <input placeholder="Y" id="insertY" type="number">
            </label>
            <div class="button-group">
                <button class="art_close close art_mainButton" data-modal-id="insert" id="insertButton">Добавить
                </button>
                <button class="art_close close art_mainButton" data-modal-id="insert">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!-- Удаление значения по индексу -->
<div class="art_mainModal centered-modal" id="remove">
    <div class="centered-modal-content modal-container">
        <div class="art_state_content">
            <div class="art_success">Удаление точки</div>
            <label for="index">
                <input placeholder="Индекс" id="index" type="number">
            </label>
            <div class="button-group">
                <button class="art_close close art_mainButton" data-modal-id="remove"
                        data-container-id="resultContainerApplyId" id="removeButton">Удалить
                </button>
                <button class="art_close close art_mainButton" data-modal-id="remove">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!-- Вычисление значения в точке -->
<div class="art_mainModal centered-modal" id="apply">
    <div class="centered-modal-content modal-container">
        <div class="art_state_content">
            <div class="art_success">Вычисление значения в точке</div>
            <label for="xValue">
                <input placeholder="X" id="xValue" type="number">
            </label>
            <div id="resultContainerApplyId" class="resultContainerApply"></div>
            <div class="button-group">
                <button data-url-id="/apply" data-container-id="resultContainerApplyId" id="applyButton" class="art_mainButton">Вычислить</button>
                <button class="art_state_button close" data-modal-id="apply">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!--Костыльное окно-->
<div id="modalContainer">
    <div class="art_state art_displayNone" id="art_stateId">
        <div class="art_state_content">
            <div class="art_error">Ошибка</div>
            <div class="art_state_h1">Значения X должны быть в порядке возрастания, а все поля заполнены!</div>
            <button id='ok' class="art_state_button close" data-modal-id="art_stateId">Ок</button>
        </div>
    </div>
</div>
<!-- Универсальное модальное окно передачи сообщений -->
<div id="modalAvengeMessage" class="art_mainModal centered-modal">
    <div class="centered-modal-content modal-container">
        <div class="art_state_content">
            <div id="art_modal_status_message" class="art_state_h1"></div>
            <button id="message_ok" class="art_state_button close" data-modal-id="modalAvengeMessage">Ок</button>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/ajaxTable.js}"></script>
</body>
</html>