<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Работа с базой данных</title>
    <link rel="stylesheet" th:href="@{/css/artksenBD.css}">
</head>
<body>
<div class="art_header">
    Добро пожаловать в панель администрирования
</div>
<!--Контейнер с кнопками-->
<div class="art_mainContainer">
    <button id="userButton" class="openModal art_mainButton" data-modal-id="users">Пользователи</button>
    <button id="mathFuncButton" class="openModal art_mainButton" data-modal-id="mathFunctions">Математические функции</button>
    <button id="watchTB" class="openModal art_mainButton" data-modal-id="TBFunctions">Табулированные функции</button>
    <button id="watchLogs" class="openModal art_mainButton" data-modal-id="logs">Посмотреть логи</button>
    <a th:href="@{/main}"><button class="art_mainButton">Вернуться на главную</button></a>
    <button id="eraseBtn" class="art_mainButton" data-modal-id="eraseBD">Стереть все данные в базе</button>
</div>

<!--Окно настроек пользователей-->
<div id="users" class="mainModal">
    <div class="mainModalParent">
        <div class="modal_content usersModalContent">
            <h2>Окно настроек пользователей</h2>
            <div id="userContainer" style="overflow: auto;"></div>
            <div class="art_backButton-container">
                <button class="openModal BDButton" data-modal-id="userCreation">Создать</button>
                <button class="close BDButton" data-modal-id="users">Назад</button>
            </div>
        </div>
    </div>
</div>
<div id="userCreation" class="mainModal">
    <div class="mainModalParent">
        <div class="modal_content usersModalContent">
            <h2>Создание нового пользователя</h2>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" placeholder="Введите логин" required><br>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" placeholder="Введите пароль" required><br>
            <div class="button-container">
                <button id="registerUser" class="BDButton" type="submit">Зарегистрировать человека</button>
                <button class="close BDButton" type="button" data-modal-id="userCreation">Назад</button>
            </div>
        </div>
    </div>
</div>
<div id="userChanging" class="mainModal">
    <div class="mainModalParent">
        <div class="modal_content usersModalContent">
            <h2>Изменение данных о пользователе</h2>
            <label for="login_to_change">Логин:</label>
            <input type="text" id="login_to_change" name="login" placeholder="Введите логин" required><br>
            <label for="password_to_change">Пароль:</label>
            <input type="password" id="password_to_change" name="password" placeholder="Введите пароль" required><br>
            <div class="button-container">
                <button id="changeUser" class="BDButton" type="submit">Изменить данные человека</button>
                <button class="close BDButton" type="button" data-modal-id="userChanging">Назад</button>
            </div>
        </div>
    </div>
</div>
<!--Окно настроек математических функций-->
<div id="mathFunctions" class="mainModal">
    <div class="mainModalParent">
        <div class="modal_content usersModalContent">
            <h2>Окно настроек пользователей</h2>
            <div id="MFContainer" style="overflow: auto;"></div>
            <div class="art_backButton-container">
                <button class="openModal BDButton" data-modal-id="modalMathFunc">Создать</button>
                <button class="close BDButton" data-modal-id="mathFunctions">Назад</button>
            </div>
        </div>
    </div>
</div>
<div class="art_mainModal displayNone" id="modalMathFunc" style="overflow: auto">
    <div class="art_ByArrModal" style="overflow: auto">
        <div class="art_byArrContent" style="overflow: auto">
            <span class="close art_close" data-modal-id="modalMathFunc">&times;</span>
            <h1>Создание Математической функции</h1>
            <div class="art_byArr_container">
                <label for="MathFuncPointsCount">Количество функций:</label>
                <input type="number" id="MathFuncPointsCount" name="MathFuncPointsCount" min="1" required/>
                <label for="MathFuncName">Название функции:</label>
                <input type="text" id="MathFuncName" name="MathFuncName" required/>
                <button id="MathFuncCreateListBtn">Начать создание</button>
            </div>
            <div id="MathFuncContainer"></div>
            <div class="otstup"></div>
        </div>
    </div>
</div>
<!--Окно настроек табулированных функций-->
<div id="TBFunctions" class="mainModal">
    <div class="mainModalParent">
        <div class="modal_content usersModalContent">
            <h2>Окно просмотра табулированных функций</h2>
            <div id="TBContainer" style="overflow: auto;"></div>
            <div class="art_backButton-container">
                <button class="BDButton" id="TBErase">Стереть все функции</button>
                <button class="close BDButton" data-modal-id="TBFunctions">Назад</button>
            </div>
        </div>
    </div>
</div>
<!--Окно настроек логов-->
<div id="logs" class="mainModal">
    <div class="mainModalParent">
        <div class="modal_content usersModalContent">
            <h2>Окно просмотра логов</h2>
            <div id="logContainer" style="overflow: auto;"></div>
            <div class="art_backButton-container">
                <button class="BDButton" id="logsErase">Стереть логи</button>
                <button class="close BDButton" data-modal-id="logs">Назад</button>
            </div>
        </div>
    </div>
</div>
<!--Универсальное модальное окно передачи сообщений-->
<div id="modalAvengeMessage" class="displayNone">
    <div class="art_state" style="z-index: 9999; position: absolute; overflow: hidden;">
        <div class="art_state_content">
            <div id="art_modal_status_message"></div>
            <div class="art_state_h1"></div>
            <button id="message_ok" class="art_state_button close" data-modal-id="modalAvengeMessage">Ок</button>
        </div>
    </div>
</div>
<script th:src="@{/js/workWithBDAjax.js}"></script>
</body>
</html>