ol{
    list-style: none;
}
body {
    background-color: #5D3A9B;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
/*мини костыли*/
.otstup{
    width: 10vmin;
    height: 10vmin;
}
.hide_text{
    color: #4B0082;
    background-color: #4B0082;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: default;
    user-select: none;
    -webkit-user-select: none; /* Для Safari */
    -moz-user-select: none; /* Для Firefox */
}
.hide_text:hover{
    color: #4B0082;
    cursor: default;
    background-color: #4B0082;
}
/**/
/*Вспомогательные стили*/
.art_displayNone{
    display: none;
}
.art_displayBlock{
    display: block;
}
/*main*/
.art_mainContainer {
    margin-top: 50px;
}
.art_mainButton {
    background-color: #6A1B9A; /* Rich Purple */
    color: #E0BBE4;
    border: none;
    padding: 20px 40px; /* Увеличиваем отступы */
    border-radius: 10px; /* Более закругленные углы */
    margin: 15px; /* Увеличиваем отступы между кнопками */
    cursor: pointer;
    font-weight: bold;
    font-size: 18px; /* Увеличиваем размер шрифта */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень для объемности */
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход */
}
.art_header {
    background-color: #9370DB; /* ConstantColors.DARK_LILAC */
    color: #003366; /* ConstantColors.DEEP_BLUE */
    font-size: 24px;
    padding: 10px;
    border: 2px solid #9400D3; /* Эквивалент ConstantColors.DARK_VIOLET */
    border-radius: 20px;
    width: 50%;
    margin: auto;
}
.art_mainButton:hover {
    background-color: #9A67EA;
}
/*Модальные окна*/
.art_mainModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    overflow: auto;
}
.art_modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    overflow: auto;
}
.art_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.art_close:hover,
.art_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*createFunctionByArrays.html*/
.art_byArr_tableContainer{
    overflow: auto;
}
.art_ByArrModal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: for a semi-transparent background */
}

.art_byArrContent {
    background-color: #4B0082;
    overflow: auto;
    border-radius: 10px;
    padding: 20px;
    width: 700px; /* Increased width */
    height: 700px; /* Increased height to make it square */
    max-width: 90%; /* Adjusted max-width */
    max-height: 90%; /* Adjusted max-height */
    color: white;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование по вертикали */
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 80px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 20px;
    border: 2px solid #4B0082;
    border-radius: 5px;
}

.art_byArrButton {
    background-color: #800080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.art_byArrButton:hover {
    background-color: #9932CC;
}

.art_byArr_table {
    overflow: auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #6A1B9A;0;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #800080;
    color: #E0BBE4;
}

td input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.art_byArr_create-function-btn {
    background-color: #6A1B9A; /* Цвет фона */
    color: #E0BBE4; /* Цвет текста */
    font-family: 'Open Sans', sans-serif; /* Шрифт */
    padding: 15px 30px; /* Увеличение внутреннего отступа */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Увеличение размера шрифта */
    margin-top: 20px;
    text-align: center;
}
.art_byArr_create-function-btn:hover {
    background-color: #9A67EA; /* Цвет фона при наведении */
}
.art_byArr_container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрирование по горизонтали */
    margin-top: 20px;
}
.art_error {
    color: #6A1B9A;
    font-size: 18px; /* изменения размера шрифта */
    font-weight: bold; /* изменения толщины шрифта */
}
.art_success {
    color: #4B0082;
    font-size: 18px; /* изменения размера шрифта */
    font-weight: bold; /* изменения толщины шрифта */
    margin: 5% auto
}
/*Модальное окно успеха или ошибки*/
.art_state {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.art_state_content{
    background-color: #5D3A9B;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}
.art_state_h1 {
    font-size: 16px;
    color: #6A1B9A; /* Новый цвет текста */
}

.art_state_button {
    background-color: #6A1B9A; /* Цвет фона */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход */
}

.art_state_button:hover {
    background-color: #9A67EA; /* Цвет фона при наведении */
}
/*Выпадающий список*/
.art_dropdown {
  position: relative;
  display: inline-block;
}

.art_dropdown-button {
  background-color: #8a2be2; /* Фиолетовый цвет фона */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px; /* Скругленные углы */
}

.art_dropdown-content {
  display: none;
  position: absolute;
  background-color: #d8bfd8; /* Светло-фиолетовый цвет фона */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px; /* Скругленные углы */
}

.art_dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.art_dropdown-content a:hover {
  background-color: #c792c7; /* Более темный фиолетовый при наведении */
}

.art_dropdown:hover .art_dropdown-content {
  display: block;
}
.art_byArr_container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрирование по горизонтали */
    justify-content: center; /* Центрирование по вертикали */
    margin-top: 20px;
}
.art_byArr_container .art_dropdown {
    margin-bottom: 10px; /* Расстояние между элементами */
    margin-top: 10px; /* Добавлено расстояние сверху */
}

.art_byArr_container .art_dropdown-button {
  background-color: #8a2be2;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.art_byArr_container .art_dropdown-content {
  display: none;
  position: absolute;
  background-color: #d8bfd8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.art_byArr_container .art_dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.art_byArr_container .art_dropdown-content a:hover {
  background-color: #c792c7;
}

.art_byArr_container .art_dropdown:hover .art_dropdown-content {
  display: block;
}

.art_byArr_container label {
    color: #E0BBE4; /* Цвет текста */
    font-family: 'Open Sans', sans-serif; /* Шрифт */
    font-weight: bold; /* Жирный шрифт */
    margin: 5px 0; /* Увеличение отступа */
    font-size: 18px; /* Увеличение размера шрифта */
    text-align: center;
}

.art_byArr_container input[type="number"] {
    text-align: center; /* Центрирование текста в поле ввода */
    width: 150px; /* Увеличение ширины поля */
    padding: 10px; /* Увеличение внутреннего отступа */
    margin: 10px 0; /* Увеличение внешнего отступа */
    border: 2px solid #4B0082;
    border-radius: 5px;
    font-size: 16px; /* Увеличение размера шрифта */
}

.art_byArr_container button {
    background-color: #6A1B9A; /* Цвет фона */
    color: #E0BBE4; /* Цвет текста */
    font-family: 'Open Sans', sans-serif; /* Шрифт */
    padding: 15px 30px; /* Увеличение внутреннего отступа */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Увеличение размера шрифта */
    margin-top: 20px;
    text-align: center;
}
.art_backButton {
    background-color: #6A1B9A; /* Цвет фона */
    color: #E0BBE4; /* Цвет текста */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Размер шрифта */
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход */
}

.art_backButton:hover {
    background-color: #9A67EA; /* Цвет фона при наведении */
}

.art_byArr_container button:hover {
    background-color: #9A67EA; /* Цвет фона при наведении */
}
.art_dropdown {
    position: relative;
    display: inline-block;
}

.art_dropdown-button {
    border: none;
    cursor: pointer;
    padding: 10px;
}

.art_dropdown-content {
    display: none; /* Скрываем список по умолчанию */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.art_dropdown-list {
    list-style: none; /* Удаляем маркеры */
    padding: 0;
    margin: 0;
}

.art_dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; /* Элементы занимают всю ширину */
}

.art_dropdown-item:hover {
    background-color: #ddd; /* Изменение цвета при наведении */
}

.art_dropdown:hover .art_dropdown-content {
    display: block; /* Показываем список при наведении на art_dropdown */
}
/*По функции*/
/* Стили для контейнера */
.art_radio-group {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

/* Базовые стили для радио-кнопок */
.art_radio-group input[type="radio"] {
    display: none; /* Скрываем стандартные радио-кнопки */
}

/* Стили для меток */
.art_radio-group label {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: #fff; /* Цвет текста */
    border-radius: 25px;
    background-color: #6a0dad; /* Основной фиолетовый цвет */
    margin: 5px 0;
    transition: background-color 0.3s;
}

/* Псевдоэлемент для кастомной кнопки */
.art_radio-group label::before {
    content: '';
    position: absolute;
    left: -30px; /* Расположение относительно метки */
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border-radius: 50%; /* Круглая форма */
    border: 2px solid #6a0dad; /* Цвет рамки */
    background-color: #fff;
    transition: background-color 0.3s;
}

/* Стиль для выделенного состояния */
.art_radio-group input[type="radio"]:checked + label {
    background-color: #9a4baf; /* Темнее при выборе */
}

.art_radio-group input[type="radio"]:checked + label::before {
    background-color: #6a0dad; /* Цвет кнопки при выборе */
}
/*Стиль окон, где используются таблицы*/
.art_modal_tables {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.art_modal_table_content {
    background-color: #4B0082;
    padding: 20px;
    width: 100vw!important; /* Увеличение ширины модального окна */
    overflow: auto;
    max-height: 95vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative; /* Для позиционирования крестика */
}

.art_closeAbsolute {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.art_table_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.art_table_block {
    flex: 1;
    margin: 0 10px;
}

.art_table_header {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.art_table_wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    border: 1px solid #4b0082;
    border-radius: 5px;
    margin-bottom: 10px;
}

.art_elementary_table {
    width: 100%;
    border-collapse: collapse;
}

.art_elementary_table th, .art_elementary_table td {
    padding: 5px;
    text-align: center;
    border: 1px solid #6A1B9A;
}

.art_elementary_table input {
    width: 90%;
    padding: 5px;
    border: none;
    outline: none;
}

.art_buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.art_elementary_button {
    background-color: #4b0082;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.art_elementary_button:hover {
    background-color: #6a0dad;
}

.art_wide_button {
    width: 10vw; /* Широкая кнопка */
}

.art_operations {
    display: flex;
    justify-content: space-around;
}

.art_operation_button {
    background-color: #4b0082;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.art_operation_button:hover {
    background-color: #6a0dad;
}

.art_elementary_table th, .art_elementary_table td {
    padding: 5px;
    border: 1px solid #6A1B9A;
}

.art_table_block h2 {
    margin: 0;
}

/* Фиксация заголовков таблиц */
.art_elementary_table thead th {
    background-color: #a070c4;
    position: sticky;
    top: 0;
}

/* Стиль для инпутов внутри таблиц */
.art_input_x {
    width: 80px;
    background-color: #e0e0e0;
    border: 1px solid #cccccc;
    text-align: right;
}

.art_input_y {
    width: 80px;
    border: 1px solid #cccccc;
    text-align: right;
}

/* Кнопки управления внизу таблиц */
.art_elementary_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.art_elementary_button {
    padding: 5px 10px;
    background-color: #5b358e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    flex-grow: 1;
    margin: 0 2px;
}
/*.art_elementary_buttons:last-child{
    display: block;
    width: 10vw;
    text-align:center;
    margin-top: 10px;
}*/
/* Нижние кнопки операций */
.art_operations {
    display: flex;
    justify-content: space-evenly;
}

.art_operations button {
    padding: 10px 15px;
    background-color: #a070c4;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
.centered-modal {
            display: none; /* Скрыто по умолчанию */
            justify-content: center; /* Центрируем по горизонтали */
            align-items: center; /* Центрируем по вертикали */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
            overflow: auto;
        }

        .centered-modal-content {
            background-color: #4B0082; /* Обновляем цвет фона */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 400px;
            text-align: center;
            color: #E0BBE4;
        }

        .modal-container {
            background-color: #4B0082; /* Обновляем цвет фона */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 400px;
            text-align: center;
            margin:0 auto;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }

        .button-container-center {
            display: flex;
            justify-content: center;
            margin-top: 20px; /* Отступ сверху для кнопки "Назад" */
        }

        #art_radio_accept, #backToMain, #create_array, #create_function {
            background-color: #6A1B9A; /* Rich Purple */
            color: #E0BBE4;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px; /* Increase font size */
            width: 48%; /* Ensure buttons have equal width */
            text-align: center; /* Center align text */
        }

        #backToMainCreate, #backToArray {
            background-color: #6A1B9A; /* Rich Purple */
            color: #E0BBE4;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px; /* Increase font size */
            width: 30%; /* Smaller width for back button */
            text-align: center; /* Center align text */
        }

        #art_radio_accept:hover, #backToMain:hover, #create_array:hover, #create_function:hover, #backToMainCreate:hover, #backToArray:hover {
            background-color: #9A67EA; /* Lighter shade on hover */
        }

        .art_mainModal {
            display: none; /* Скрыто по умолчанию */
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
        }

        .art_mainModal .centered-modal-content {
            background-color: #4B0082;
            padding: 20px;
            border: 1px solid #888;
            border-radius: 10px;
            max-width: 500px;
            width: 100%;
            color: white;
            overflow: auto;
        }

        .art_byArr_container {
            display: flex;
            flex-direction: column; /* Вертикальное расположение элементов */
            align-items: center; /* Центрирование по горизонтали */
            margin-top: 20px;
        }

        .art_byArr_container label {
            color: #E0BBE4; /* Цвет текста */
            font-family: 'Open Sans', sans-serif; /* Шрифт */
            font-weight: bold; /* Жирный шрифт */
            margin: 5px 0; /* Увеличение отступа */
            font-size: 18px; /* Увеличение размера шрифта */
            text-align: center;
        }

        .art_byArr_container input[type="number"] {
            text-align: center; /* Центрирование текста в поле ввода */
            width: 150px; /* Увеличение ширины поля */
            padding: 10px; /* Увеличение внутреннего отступа */
            margin: 10px 0; /* Увеличение внешнего отступа */
            border: 2px solid #4B0082;
            border-radius: 5px;
            font-size: 16px; /* Увеличение размера шрифта */
        }

        .art_byArr_container button {
            background-color: #6A1B9A; /* Цвет фона */
            color: #E0BBE4; /* Цвет текста */
            font-family: 'Open Sans', sans-serif; /* Шрифт */
            padding: 15px 30px; /* Увеличение внутреннего отступа */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px; /* Увеличение размера шрифта */
            margin-top: 20px;
            text-align: center;
        }

        .art_byArr_container button:hover {
            background-color: #9A67EA; /* Цвет фона при наведении */
        }
        .centered-modal {
            display: none; /* Скрыто по умолчанию */
            justify-content: center; /* Центрируем по горизонтали */
            align-items: center; /* Центрируем по вертикали */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
        }

        .centered-modal-content {
            background-color: #4B0082; /* Обновляем цвет фона */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 400px;
            text-align: center;
            color: #E0BBE4;
        }

        .modal-container {
            background-color: #4B0082; /* Обновляем цвет фона */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 400px;
            text-align: center;
        }

       .centered-modal {
           display: none; /* Скрыто по умолчанию */
           justify-content: center; /* Центрируем по горизонтали */
           align-items: center; /* Центрируем по вертикали */
           position: fixed;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background-color: rgba(0, 0, 0, 0.5);
           z-index: 1000;
       }

       .centered-modal-content {
           background-color: #4B0082; /* Обновляем цвет фона */
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
           width: 400px;
           text-align: center;
           color: #E0BBE4;
       }

       .modal-container {
           background-color: #4B0082; /* Обновляем цвет фона */
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
           width: 400px;
           text-align: center;
       }

       .art_mainButton {
           background-color: #6A1B9A; /* Rich Purple */
           color: #E0BBE4;
           border: none;
           padding: 20px 40px; /* Увеличиваем отступы */
           border-radius: 10px; /* Более закругленные углы */
           margin: 15px; /* Увеличиваем отступы между кнопками */
           cursor: pointer;
           font-weight: bold;
           font-size: 18px; /* Увеличиваем размер шрифта */
           text-align: center;
           box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень для объемности */
           transition: background-color 0.3s, transform 0.3s; /* Плавный переход */
       }

       .art_mainButton:hover {
           background-color: #9A67EA;
       }

       .button-group {
           display: flex;
           justify-content: center;
           gap: 10px; /* Расстояние между кнопками */
           margin-top: 20px; /* Добавляем отступ сверху */
       }
       /* Стили для модального окна построения графиков */

       #modalGraph .art_modal_table_content {
           background-color: #4B0082; /* Цвет фона */
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
           width: 80%;
           max-width: 800px;
           margin: 5% auto;
           color: #E0BBE4; /* Цвет текста */
       }

       #modalGraph .art_table_header {
           color: #E0BBE4; /* Цвет текста заголовка */
       }

       #modalGraph .art_table_wrapper {
           border: 1px solid #4B0082; /* Цвет рамки */
           border-radius: 5px;
           margin-bottom: 20px;
       }

       #modalGraph .art_elementary_table th {
           background-color: #800080; /* Цвет фона заголовков таблицы */
           color: #E0BBE4; /* Цвет текста заголовков таблицы */
       }

       #modalGraph .art_elementary_buttons .art_elementary_button,
       #modalGraph .art_operations .art_operation_button {
           background-color: #6A1B9A; /* Rich Purple */
           color: #E0BBE4; /* Цвет текста */
           padding: 10px 20px;
           border: none;
           border-radius: 5px;
           cursor: pointer;
           font-size: 14px; /* Размер шрифта */
       }

       #modalGraph .art_elementary_buttons .art_elementary_button:hover,
       #modalGraph .art_operations .art_operation_button:hover {
           background-color: #9A67EA; /* Цвет фона при наведении */
       }

       #modalGraph .art_closeAbsolute {
           color: #E0BBE4; /* Цвет текста крестика */
       }

       /* Стили для модального окна вычисления значения в точке */
       #apply .art_state_content {
           background-color: #4B0082; /* Цвет фона */
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
           width: 80%;
           max-width: 600px;
           margin: 5% auto;
           color: #E0BBE4; /* Цвет текста */
       }

       #apply .art_success {
           color: #E0BBE4; /* Цвет текста */
           font-size: 18px; /* изменения размера шрифта */
           font-weight: bold; /* изменения толщины шрифта */
           margin-bottom: 20px; /* добавление отступа снизу */
       }

       #apply label {
           display: block; /* Каждый label занимает всю ширину */
           margin-bottom: 10px; /* Добавляем отступ снизу */
           color: #E0BBE4; /* Цвет текста */
           font-size: 16px; /* Размер шрифта */
       }

       #apply input[type="number"] {
           display: block; /* Каждый input занимает всю ширину */
           margin-bottom: 20px; /* Добавляем отступ снизу */
           width: calc(100% - 20px); /* Уменьшаем ширину на 20px */
           padding: 10px;
           border: 2px solid #4B0082;
           border-radius: 5px;
           font-size: 16px; /* Увеличение размера шрифта */
           margin-right: auto; /* Сдвигаем вправо */
           margin-left: auto; /* Центрируем */
       }

       #apply .button-group {
           display: flex;
           justify-content: space-between; /* Добавляем симметрию между кнопками */
           gap: 10px; /* Расстояние между кнопками */
           margin-top: 20px; /* Добавляем отступ сверху */
       }

       #apply .art_mainButton {
           background-color: #6A1B9A; /* Rich Purple */
           color: #E0BBE4;
           border: none;
           padding: 10px 20px;
           border-radius: 5px;
           cursor: pointer;
           font-size: 14px; /* Размер шрифта */
           text-align: center; /* Центрирование текста */
           transition: background-color 0.3s, transform 0.3s; /* Плавный переход */
           width: 48%;
       }

       #apply .art_mainButton:hover {
           background-color: #9A67EA; /* Цвет фона при наведении */
       }

       #apply .art_state_button {
           background-color: #6A1B9A; /* Rich Purple */
           color: #E0BBE4;
           border: none;
           padding: 20px 40px; /* Увеличиваем отступы */
           border-radius: 10px; /* Более закругленные углы */
           margin: 15px; /* Увеличиваем отступы между кнопками */
           cursor: pointer;
           font-weight: bold;
           font-size: 18px; /* Увеличиваем размер шрифта */
           text-align: center;
           box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень для объемности */
           transition: background-color 0.3s, transform 0.3s; /* Плавный переход */
       }

       #apply .art_state_button:hover {
           background-color: #9A67EA; /* Цвет фона при наведении */
       }

CSS
/* Стили модального окна */
.art_modal_tables {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.art_modal_table_content {
    background-color: #4B0082;
    padding: 20px;
    width: 80vw; /* Увеличение ширины модального окна */
    overflow: auto;
    max-height: 95vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative; /* Для позиционирования крестика */
}

.art_closeAbsolute {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.art_table_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.art_table_block {
    flex: 1;
    margin: 0 10px;
}

.art_table_header {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.art_table_wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    border: 1px solid #4b0082;
    border-radius: 5px;
    margin-bottom: 10px;
}

.art_elementary_table {
    width: 100%;
    border-collapse: collapse;
}

.art_elementary_table th, .art_elementary_table td {
    padding: 5px;
    text-align: center;
    border: 1px solid #6A1B9A;
}

.art_elementary_table input {
    width: 90%;
    padding: 5px;
    border: none;
    outline: none;
}

.art_elementary_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.art_elementary_button {
    background-color: #6A1B9A;
    color: #E0BBE4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.art_elementary_button:hover {
    background-color: #6a0dad;
}

.art_operations {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.art_operations label {
    color: #4b0082;
    font-size: 16px;
    font-weight: bold;
}

.art_operations input {
    width: 50px;
    padding: 5px;
    margin-left: 10px;
    border: 2px solid #4b0082;
    border-radius: 5px;
    text-align: center;
}

.art_operation_button {
    background-color: #6A1B9A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.art_operation_button:hover {
    background-color: #6a0dad;
}

#integralContainerResult {
    font-weight: bold;
    color: #E0BBE4;
}
.integral-result-text {
    color: #E0BBE4; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
}