ol{
    list-style: none;
}
body {
    background-color: #5D3A9B;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
/*мини костыли*/
.otstup{
    width: 10vmin;
    height: 10vmin;
}
.hide_text{
    color: white;
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: default;
    user-select: none;
    -webkit-user-select: none; /* Для Safari */
    -moz-user-select: none; /* Для Firefox */
}
.hide_text:hover{
    color: white;
    cursor: default;
    background-color: white;
}
/**/
/*Вспомогательные стили*/
.displayNone{
    display: none;
}
displayBlock{
    display: block;
}
/*main*/
.art_mainContainer {
    margin-top: 50px;
}
.art_mainButton {
    background-color: #6A1B9A; /* Rich Purple */
    color: #E0BBE4;
    border: none;
    padding: 20px 40px; /* Увеличиваем отступы */
    border-radius: 10px; /* Более закругленные углы */
    margin: 15px; /* Увеличиваем отступы между кнопками */
    cursor: pointer;
    font-weight: bold;
    font-size: 18px; /* Увеличиваем размер шрифта */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень для объемности */
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход */
}
.art_header {
    background-color: #9370DB; /* ConstantColors.DARK_LILAC */
    color: #003366; /* ConstantColors.DEEP_BLUE */
    font-size: 24px;
    padding: 10px;
    border: 2px solid #9400D3; /* Эквивалент ConstantColors.DARK_VIOLET */
    border-radius: 20px;
    width: 50%;
    margin: auto;
}
.art_mainButton:hover {
    background-color: #9A67EA;
}
/*Модальные окна*/
.mainModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.mainModalParent{
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 50%;
    height: 65%;
    overflow: auto;
}
.art_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.art_close:hover,
.art_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*createFunctionByArrays.html*/
.art_byArr_tableContainer{
    overflow: auto;
}
/*Модальное окно успеха или ошибки*/
.art_state {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.art_state_content{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}
.art_state_h1 {
    font-size: 16px;
}

.art_state_button {
    background-color: #800080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
/**/
.BDButton {
    background-color: #6A1B9A; /* Цвет фона */
    color: #E0BBE4; /* Цвет текста */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Размер шрифта */
    text-align: center;
    margin-top: 20px;
}

.BDButton:hover {
    background-color: #9A67EA; /* Цвет фона при наведении */
}
/*Работа с пользователями*/
.usersModalContent{
    background-color: black;
    color: #6A1B9A;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
}
.userBlock{
    overflow: auto;
    background-color: black;
    color: #00B300;
    border-radius: 5px;
    font-size: 16px;
    height: 80%;
    max-height: 80%;
}
.userToken {
    color: #00B300; /* Цвет текста токена */
    font-size: 16px; /* Размер текста */
}
.copyable-token:hover, .copyable-token:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.userLogin {
    color: #6A1B9A; /* Цвет текста логина */
    font-size: 16px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
}
.userChangeBtn {
    background-color: #28a745; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    border: none; /* Убираем рамку */
    padding: 8px 16px; /* Небольшие отступы */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указатель мыши в виде руки */
    font-size: 14px; /* Небольшой размер текста */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.userChangeBtn:hover {
    background-color: #218838; /* Более темный зеленый цвет при наведении */
}

.userDeleteBtn {
    background-color: #dc3545; /* Красный цвет фона */
    color: white; /* Белый цвет текста */
    border: none; /* Убираем рамку */
    padding: 8px 16px; /* Небольшие отступы */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указатель мыши в виде руки */
    font-size: 14px; /* Небольшой размер текста */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}
.deleteBTN{
    background-color: #dc3545; /* Красный цвет фона */
    color: white; /* Белый цвет текста */
    border: none; /* Убираем рамку */
    padding: 8px 16px; /* Небольшие отступы */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указатель мыши в виде руки */
    font-size: 14px; /* Небольшой размер текста */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}
.userDeleteBtn:hover {
    background-color: #c82333; /* Более темный красный цвет при наведении */
}

.art_byArr_container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрирование по горизонтали */
    margin-top: 20px;
}

.art_byArr_container label {
    color: #E0BBE4; /* Цвет текста */
    font-family: 'Open Sans', sans-serif; /* Шрифт */
    font-weight: bold; /* Жирный шрифт */
    margin: 5px 0; /* Увеличение отступа */
    font-size: 18px; /* Увеличение размера шрифта */
    text-align: center;
}

.art_byArr_container input[type="number"] {
    text-align: center; /* Центрирование текста в поле ввода */
    width: 150px; /* Увеличение ширины поля */
    padding: 10px; /* Увеличение внутреннего отступа */
    margin: 10px 0; /* Увеличение внешнего отступа */
    border: 2px solid #4B0082;
    border-radius: 5px;
    font-size: 16px; /* Увеличение размера шрифта */
}

.art_byArr_container button {
    background-color: #6A1B9A; /* Цвет фона */
    color: #E0BBE4; /* Цвет текста */
    font-family: 'Open Sans', sans-serif; /* Шрифт */
    padding: 15px 30px; /* Увеличение внутреннего отступа */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Увеличение размера шрифта */
    margin-top: 20px;
    text-align: center;
}

.art_byArr_container button:hover {
    background-color: #9A67EA; /* Цвет фона при наведении */
}
.centered-modal {
    display: none; /* Скрыто по умолчанию */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.centered-modal-content {
    background-color: #4B0082; /* Обновляем цвет фона */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    color: #E0BBE4;
}

.modal-container {
    background-color: #4B0082; /* Обновляем цвет фона */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}
.art_byArr_create-function-btn {
    background-color: #6A1B9A; /* Цвет фона */
    color: #E0BBE4; /* Цвет текста */
    font-family: 'Open Sans', sans-serif; /* Шрифт */
    padding: 15px 30px; /* Увеличение внутреннего отступа */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Увеличение размера шрифта */
    margin-top: 20px;
    text-align: center;
}
.art_byArr_create-function-btn:hover {
    background-color: #9A67EA; /* Цвет фона при наведении */
}
.art_dropdown {
  position: relative;
  display: inline-block;
}

.art_dropdown-button {
  background-color: #8a2be2; /* Фиолетовый цвет фона */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px; /* Скругленные углы */
}

.art_dropdown-content {
  display: none;
  position: absolute;
  background-color: #d8bfd8; /* Светло-фиолетовый цвет фона */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px; /* Скругленные углы */
}

.art_dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.art_dropdown-content a:hover {
  background-color: #c792c7; /* Более темный фиолетовый при наведении */
}

.art_dropdown:hover .art_dropdown-content {
  display: block;
}
.art_byArr_container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрирование по горизонтали */
    justify-content: center; /* Центрирование по вертикали */
    margin-top: 20px;
}
.art_byArr_container .art_dropdown {
    margin-bottom: 10px; /* Расстояние между элементами */
    margin-top: 10px; /* Добавлено расстояние сверху */
}

.art_byArr_container .art_dropdown-button {
  background-color: #8a2be2;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.art_byArr_container .art_dropdown-content {
  display: none;
  position: absolute;
  background-color: #d8bfd8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.art_byArr_container .art_dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.art_byArr_container .art_dropdown-content a:hover {
  background-color: #c792c7;
}

.art_byArr_container .art_dropdown:hover .art_dropdown-content {
  display: block;
}
.art_mainModal {
    display: none; /* Скрыто по умолчанию */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    }

    .art_mainModal .centered-modal-content {
    background-color: #4B0082;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    color: white;
    overflow: auto;
    }

    .art_byArr_container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрирование по горизонтали */
    margin-top: 20px;
    }

    .art_byArr_container label {
    color: #E0BBE4; /* Цвет текста */
    font-family: 'Open Sans', sans-serif; /* Шрифт */
    font-weight: bold; /* Жирный шрифт */
    margin: 5px 0; /* Увеличение отступа */
    font-size: 18px; /* Увеличение размера шрифта */
    text-align: center;
    }

    .art_byArr_container input[type="number"] {
    text-align: center; /* Центрирование текста в поле ввода */
    width: 150px; /* Увеличение ширины поля */
    padding: 10px; /* Увеличение внутреннего отступа */
    margin: 10px 0; /* Увеличение внешнего отступа */
    border: 2px solid #4B0082;
    border-radius: 5px;
    font-size: 16px; /* Увеличение размера шрифта */
    }

    .art_byArr_container button {
    background-color: #6A1B9A; /* Цвет фона */
    color: #E0BBE4; /* Цвет текста */
    font-family: 'Open Sans', sans-serif; /* Шрифт */
    padding: 15px 30px; /* Увеличение внутреннего отступа */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Увеличение размера шрифта */
    margin-top: 20px;
    text-align: center;
    }

    .art_byArr_container button:hover {
    background-color: #9A67EA; /* Цвет фона при наведении */
    }